source https://api.nuget.org/v3/index.json

storage: none
framework: net8.0
nuget coverlet.collector
nuget coverlet.msbuild
nuget crayon
nuget CronExpressionDescriptor
nuget cronos
nuget Discord.Net
nuget FluentAssertions
nuget FsCheck.Xunit
nuget McMaster.Extensions.CommandLineUtils
nuget Microsoft.Extensions.Caching.Memory
nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.NET.Test.Sdk
nuget MongoDB.Driver
nuget Newtonsoft.Json
nuget NSubstitute
nuget System.Net.Http
nuget Tk.Extensions
nuget xunit
nuget xunit.runner.visualstudio